name: Run tests on scim_v2 crate

on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout
    - name: Setup Rust
      uses: actions-rs/toolchain
      with:
        toolchain: stable
        override: true
    - name: Check
      uses: actions-rs/cargo
      with:
        command: check
    - name: Test
      uses: actions-rs/cargo
      with:
        command: test